# Set the language
export LANG=en_US.UTF-8

# Enable colored 'grep' output
export GREP_OPTIONS="--color=auto"

# Setup pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"

# Open the VS Code with a 'code' command
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# Configuration for fzf
export FZF_DEFAULT_COMMAND="fd --hidden --follow"

export FZF_DEFAULT_OPTS="--reverse --cycle"

export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'
  --bind 'ctrl-y:execute-silent(echo -n {1..} | pbcopy)+abort'"

export FZF_CTRL_R_OPTS="
  --preview 'echo {}'
  --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'"

export FZF_ALT_C_COMMAND="fd --type directory --hidden --follow"

# Configuration for bat
export BAT_THEME="Nord"
