# Set the language
export LANG=en_US.UTF-8

# Enable colored 'grep' output
export GREP_OPTIONS="--color=auto"

# Configuration for fzf
export FZF_DEFAULT_COMMAND="fd --hidden --follow --exclude .git"

export FZF_DEFAULT_OPTS="--reverse --cycle"

export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'
  --bind 'ctrl-y:execute-silent(echo -n {1..} | pbcopy)+abort'"

export FZF_CTRL_R_OPTS="
  --preview 'echo {}'
  --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'"

export FZF_ALT_C_COMMAND="fd --type directory --hidden --follow --exclude .git"

# Configuration for bat
export BAT_THEME="Nord"
