# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[core]
	excludefile = ~/.gitignore
[include]
	path = ~/.gitconfig-custom
